
     <div class="container text-center">
        <a href="https://www.facebook.com" target="_blank" class="me-3" style="color: white;">
            FaceBook
        </a>
        <a href="https://www.twitter.com" target="_blank" class="me-3" style="color: white;">
            Twitter
        </a>
        <a href="https://www.instagram.com" target="_blank" class="me-3" style="color: white;">
            Instagramm
        </a>
    </div>
